body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
}

.numberItem {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 20px; */
}

.numberItem .name {
  width: 50vw;
  text-align: center;
  margin-right: auto;
}

.numberItem .number {
  margin-left: auto;
  display: flex;
  width: 50vw;
}

.numberItem .number h3 {
  margin-left: 8px;
}
.h3{
  width: 55vw;
  text-align: center;
  margin-right: auto;
}